<div class="wrapper-top">
  <div class="texture-overlay"></div>
  <div class="container-signin">
  <div class="row">
        <div class="login-icon animated fadeInDown">
          <%= image_tag("images/Onest-logo_B01.png", :alt => "Onest") %>
        </div>
        
        <div class="flat-form">
            <div class="form-action show">
              <% if flash[:notice] -%>
              <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
              </div>
              <% end -%>

              <%= form_tag  :action => :create do -%>
              <div class="form-control">
                <%= text_field_tag 'login', @login, :placeholder=>"ユーザー名", autofocus: true %>
              </div>

              <div class="form-control">
                <%= password_field_tag 'password', @password, :placeholder=>"パスワード入力", autocomplete: "off" %>
              </div>

              <div class="form-control">
                <input class="button" type="submit" value="ログイン"></input>
              </div>
              
              <% end -%>
            </div>
            <!--/#login.form-action-->
        </div>
  </div>
</div>
<%= render '/layouts/footer' %>
</div><!-- wrapper-top -->