<%- this_year = 0 -%>
<%- 1.upto(12) do |i| -%>
  <%- this_time = @c_time.months_ago(i - 1) -%>
  <%- unless this_year == this_time.year -%>
    <br><%= this_time.year.to_s + "年　" -%>
    <%- this_year = this_time.year -%>
  <%- end -%>
  <%= link_to this_time.month.to_s + "月" , {:id => i} -%>
  <%= "　" -%>
<%- end -%>

  <h4><%= @this_month.year -%>年<%= @this_month.month -%>月度　実績集計</h4>

  <fieldset>
  <div class="widget stacked widget-table action-table">
    <div class="widget-header">
      <i class="icon-th-list"></i><h3>送信</h3>
    </div><!-- /widget-header -->

    <div class="widget-content">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>利用者数</th>
        <th>ファイル数</th>
        <th>ファイルサイズ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @send_matter %>人</td>
        <td><%= @file_total %>ファイル</td>
        <td><%= @file_size %>MB</td>
      </tr>
    </tbody>
    </table>
    </div> <!-- /widget-content -->
  </div> <!-- /widget -->
  </fieldset>
  </br></br>

  <fieldset>
  <div class="widget stacked widget-table action-table">
    <div class="widget-header">
      <i class="icon-th-list"></i><h3>受信</h3>
    </div><!-- /widget-header -->

    <div class="widget-content">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>ファイル数</th>
        <th>ファイルサイズ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @download_file_total %>ファイル</td>
        <td><%= @download_file_size %>MB</td>
      </tr>
    </tbody>
    </table>
    </div> <!-- /widget-content -->
  </div> <!-- /widget -->
  </fieldset>
  </br></br>

  <fieldset>
  <div class="widget stacked widget-table action-table">
    <div class="widget-header">
      <i class="icon-th-list"></i><h3>依頼</h3>
    </div><!-- /widget-header -->

    <div class="widget-content">
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>利用件数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center"><%= @request_matter %>件</td>
      </tr>
    </tbody>
    </table>
    </div> <!-- /widget-content -->
  </div> <!-- /widget -->
  </fieldset>