<%= form_tag :action => 'get_csv_of_receive_log' do %>
  <%= select_tag 'month_for_out', options_for_select(@select_month) %> のログを
  <%= submit_tag "　CSV保存　" %>
<% end %>

<br>

<%= form_tag( {:action => 'receive_log'}, {:method => "get"}) do %>
  <%= select_tag :type, options_for_select([["受信者", 0], ["受信者メールアドレス", 1]], @type.to_i ) %>
  <%= text_field_tag :keyward, @keyward %>
  <%= submit_tag "　検索　" %>
<% end %>
<br>

データ数：<%= @total_data %>　
[ <%= raw @part_of_page %> ]
　<%#= link_to 'CSV保存', {:action => 'get_csv_of_receive_log'} %><br>

<% count = 0 -%>

<div class="widget stacked widget-table action-table">
  <div class="widget-header">
    <i class="icon-th-list"></i><h3>受信ログ閲覧</h3>
  </div><!-- /widget-header -->

  <div class="widget-content">
  <table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>#</th>
        <th>DL日</th>
        <th>区分</th>
        <th>受信者</th>
        <th>受信者メールアドレス</th>
        <th>ファイル名</th>
        <th>ファイルサイズ</th>
    </tr>
  </thead>
  <tbody>
    <% if @rs -%>
    <% @rs.each do | data | -%>
    <% count = count + 1 -%>
    <% cr_id = count -%>
    <% if @s_data <= cr_id and cr_id <= @e_data -%>
    <% if data.file_size.to_i > 1024 * 1024 -%>
      <% label_file_size = (data.file_size.to_i / (1024 * 1024)).to_s + ' MB' -%>
    <% elsif data.file_size.to_i > 1024 -%>
      <% label_file_size = (data.file_size.to_i / 1024).to_s + ' KB' -%>
    <% else -%>
      <% label_file_size = data.file_size.to_s + ' B' -%>
    <% end -%>

    <tr>
      <td><%= count %></td>
        <!--td nowrap><%#= (Time.parse(receives_file.dl_at.to_s)).strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td nowrap><%#= receives_file.flg %></td>
        <td nowrap><%#= receives_file.receiver_name %></td>
        <td nowrap><%#= receives_file.receiver_mail_address %></td>
        <td nowrap><%#= receives_file.file_name %></td-->
        <td><%= (Time.parse(data.dl_at.to_s)).strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= data.flg %></td>
        <td><%= data.receiver_name %></td>
        <td><%= data.receiver_mail_address %></td>
        <td><%= data.file_name %></td>
        <td><%= label_file_size %></td>
    </tr>
    <% end -%>
    <% end -%>
    <% else -%>
    <tr>
      <td colspan=7 algin=center>データがありません</td>
    </tr>
    <% end -%>
    <% if count == 0 -%>
    <tr><td colspan=7 algin=center>データがありません</td></tr>
    <% end -%>
  </table>
  </div> <!-- /widget-content -->
</div> <!-- /widget -->