データ数：<%= @saved_files.length %>　
[ <%= raw @part_of_page %> ]

<% count = 0 -%>

<div class="widget stacked widget-table action-table">
  <div class="widget-header">
    <i class="icon-th-list"></i><h3>登録データ一覧</h3>
  </div><!-- /widget-header -->

  <div class="widget-content">
  <table class="table table-striped table-bordered">
  <thead>
      <tr>
      <th>#</th>
      <th>保存日</th>
      <th>送信ID</th>
      <th>区分</th>
      <th>送信者</th>
      <th>送信者メールアドレス</th>
      <th>ファイルID</th>
      <th>ファイル名</th>
      <th>ファイルサイズ</th>
      <th>ファイルの種類</th>
      <th>ダウンロード</th>
      <th>ウィルスチェック</th>
    </tr>
  </thead>
  <tbody>
    <% if @saved_files -%>
    <% @saved_files.each.with_index do | saved_file, count | -%>
    <% cr_id = count + 1 -%>
    <% if @s_data <= cr_id and cr_id <= @e_data -%>
    <% if saved_file.file_size.to_i > 1024 * 1024 -%>
    <% label_file_size = (saved_file.file_size.to_i / (1024 * 1024)).to_s + ' MB' -%>
    <% elsif saved_file.file_size.to_i > 1024 -%>
    <% label_file_size = (saved_file.file_size.to_i / 1024).to_s + ' KB' -%>
    <% else -%>
    <% label_file_size = saved_file.file_size.to_s + ' B' -%>
    <% end -%>
    <% if saved_file.file_download_flg.to_i == 0 -%><% download_flg = "未" -%>
    <% elsif saved_file.file_download_flg.to_i == 1 -%><% download_flg = "済" -%>
    <% else -%><% download_flg = "他" -%>
    <% end -%>
    <tr>
      <td><%= count + 1 %></td>
      <td><%= (Time.parse(saved_file.file_up_date.to_s)).strftime("%Y/%m/%d %H:%M:%S") %></td>
      <td><% if saved_file.flg == '送信' -%>
                     <%= link_to saved_file.id, {:controller => 'sys_log',
                                                 :action => 'send_matter_info',
                                                 :id => saved_file.id } %>
                   <% elsif saved_file.flg == '依頼' -%>
                     <%= link_to saved_file.id, {:controller => 'sys_log',
                                                 :action => 'requested_matter_info',
                                                 :id => saved_file.id } %>
                   <% end -%>
      </td>
      <td><%= saved_file.flg %></td>
      <td><%= saved_file.sender_name %></td>
      <td><%= saved_file.sender_mail_address %></td>
      <td><%= saved_file.file_id %></td>
      <td><% if saved_file.flg == '送信' -%>
                   <% if File.exist?($app_env['FILE_DIR'].to_s + "/#{saved_file.file_id}") -%>
                     <%= link_to saved_file.file_name, {:controller => 'sys_data',
                                                        :action => 'get_send_file',
                                                        :id => saved_file.file_id } %>
                   <% else -%><%= saved_file.file_name -%><% end -%>
                 <% elsif saved_file.flg == '依頼' -%>
                   <% if File.exist?($app_env['FILE_DIR'].to_s + "/r#{saved_file.file_id}") -%>
                     <%= link_to saved_file.file_name, {:controller => 'sys_data',
                                                        :action => 'get_requested_file',
                                                        :id => saved_file.file_id } %>
                   <% else -%><%= saved_file.file_name -%><% end -%>
                 <% end -%>
      </td>
      <td><%= label_file_size %></td>
      <td><%= saved_file.file_content_type %></td>
      <td><%= download_flg %></td>
      <td><%= saved_file.file_virus_check %></td>
    <!-- </tr> -->
    <% end -%>
    <% end -%>
    <% else -%>
    <tr>
      <td colspan=12 algin=center>データがありません</td>
    </tr>
    <% end -%>
    <% if count == 0 -%>
    <tr>
      <td colspan=12 algin=center>データがありません</td></tr>
    <% end -%>
    </tr>
    </tbody>
  </table>
  </div> <!-- /widget-content -->
</div> <!-- /widget -->
<p>※ IDについて，依頼は requested_matters.id，送信は send_matters.id</p>