<!DOCTYPE html>

<script type="text/javascript">
script_url = "<%= url_options[:script_name] %>";
</script>

<html>
<head>
  <title>Onest</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/shim' %>

  <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 740px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
  </style>
</head>

<% if controller.controller_name == 'top' %>
  <body class="top">
<% elsif controller.controller_name == 'file_send'%>
  <body class="sen">
<% elsif controller.controller_name == 'file_request'%>
  <body class="req">
<% elsif controller.action_name == 'about'%>
  <body class="srv">
<% elsif controller.action_name == 'usage'%>
  <body class="use">
<% elsif controller.action_name == 'constitution'%>
  <body class="rul">
<% elsif controller.action_name == 'ask'%>
  <body class="con">
<% else %>
  <body>
<% end %>

<div class="container-narrow">
  <div class="masthead">
    <div class="heder-logo">
      <h1 class="demo-logo">
        <div class="logo"></div>
      </h1>
    </div>
    <!-- global nav Start -->
    <script type="text/javascript">
      <% if session[:site_category] == "requested_file_send" and session[:request_send_url_code] -%>
        <% param_id = session[:request_send_url_code] -%>
        <% elsif session[:site_category] == "requested_file_receive" and session[:request_receive_url_code] -%>
        <% param_id = session[:request_receive_url_code] -%>
      <% else -%><% param_id = "" -%>
      <% end -%>
      <% amt = 0 -%>
      <% @content_frames = ContentFrame.where(:master_frame => 0).order('content_frame_order') -%>
      headerMenu = new Array(
      <% @content_frames.each.with_index do |content_frame, count| -%>
      <% amt = amt + 1 -%>
        "<%= content_frame.title %>"<% unless amt == @content_frames.length -%>,
      <% end -%>
      <% end -%>
              );
      amtHeaderMenu = <%= amt %>;
      print_header('<%= session[:site_category] %>', '<%= param_id%>');
    </script>
    <!-- global nav End -->

    <div id="status" class="header-status">
      <%#= t('views.login_state.src_ip_address') %><%#= @access_ip %>
      <%- unless session[:site_category] -%>
      <% if session[:user_id] -%>
          <%= t('views.login_state.userid') %>: <%= current_user.login %>
          <%#= link_to "[#{t('views.login_state.management')}]", :controller => :user_management, :action => :index -%>
          <%= link_to("#{t('views.login_state.logout')}", {:controller => :sessions, :action => :destroy}, {class:"btn btn-small btn-primary"} )%>         
        <%- end -%>
      <%- end -%>
    </div><!-- header-status -->
    </div><!-- sidebar-nav -->
  </div><!-- masthead End -->

  <div class="row">
    <div class="row">
    
      <% if flash[:notice] -%>
        <div id="hint" class="alert alert-success">
      <%=h flash[:notice] %>
        </div>
      <% end -%>
    </div>

      <% if session[:site_category] == 'system' -%>
        <div id="sys-main">
          <div id="sys-menu">
          </div>
          <div id="sys-cont">
          <%= yield %>
          </div>
        </div>
      <% else -%>
        <%= yield %>
      <% end -%>
      </div>
</div>
</div><!-- /container -->
</body>
</html>