<!DOCTYPE html>

<script type="text/javascript">
script_url = "<%= url_options[:script_name] %>";
</script>

<html>
<head>
  <title>Onest ファイル受け取り</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%#= javascript_include_tag  'jquery', 'jquery.validationEngine',
'swfupload.queue', 'handlers', 'fileprogress' %>
  <%#= stylesheet_link_tag 'os', 'validationEngine.jquery' %>
  <%#= stylesheet_link_tag 'template' %>
  <%#= stylesheet_link_tag 'swfupload' %>
  <%#= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/assets/application_2.css?body=#{SecureRandom.hex(10)}" if File.exists?("#{Rails.root}/public/assets/application_2.css") %>
  <%= javascript_include_tag "application" %>
  <!-- ↓↓↓　IE8 9 display placeholder ↓↓↓↓-->
  <script>

     (function ($) {
         $.support.placeholder = ('placeholder' in document.createElement('input'));
     })(jQuery);

     //fix for IE7 and IE8
     $(function () {
         if (!$.support.placeholder) {
             $("[placeholder]").focus(function () {
                 if ($(this).val() == $(this).attr("placeholder")) $(this).val("");
             }).blur(function () {
                 if ($(this).val() == "") $(this).val($(this).attr("placeholder"));
             }).blur();

             $("[placeholder]").parents("form").submit(function () {
                 $(this).find('[placeholder]').each(function() {
                     if ($(this).val() == $(this).attr("placeholder")) {
                         $(this).val("");
                     }
                 });
             });
         }
     });
 </script>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= yield %>
</body>
</html>